.card {
    border-radius: 1rem;
  }
  
  .card-title {
    font-weight: 600;
  }
  
  .nav-link {
    color: #0d6efd;
    
    font-weight: 500;
  }
  
  .nav-link:hover {
    text-decoration: underline;
    color: #0a58ca;
  }
  

  nav {
    background-color: #f0f0f0; /* Light grey background */
    padding: 10px;
    display: flex;
    justify-content: space-between; /* Space items evenly */
    align-items: center; /* Vertically center items */
}
nav ul {
    list-style-type: none; /* Remove bullet points */
    margin: 0;
    padding: 0;
    display: flex; /* Use flexbox for horizontal layout */
}
nav ul li {
    margin-right: 10px; /* Add space between list items */
}
nav ul li a {
    color: #333; /* Dark grey text color */
    text-decoration: none; /* Remove underlines */
    padding: 5px 10px; /* Add padding to links */
    border-radius: 5px; /* Rounded corners for links */
}
nav ul li a:hover {
    background-color: #ddd; /* Lighter grey on hover */
}
nav .breadcrumb {
    font-size: 14px;
    color: #555; /* Medium grey text */
}
nav .breadcrumb a {
    color: #0078d7; /* Blue link color */
    text-decoration: none;
}
nav .breadcrumb a:hover {
    text-decoration: underline;
}
nav .breadcrumb span {
    margin: 0 5px; /* Add space between breadcrumb items */
}
.right-links {
    display: flex;
}
 .right-links a{
     margin-left: 10px;
}

